body{
    background-image : url('../img/hotel.jpg');
    background-size: cover;
}
     

.feedback {
    text-align:center;
    font-size: 30px; 
    color: white;
    max-width: 500px;
    margin: 2rem auto;
}

.booking{
    text-align: center;
    font-size: 30px;
    color: white;
    max-width: 500px;
    margin: 2rem auto;
}


.form-inline {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
}

input {
    display: block;
    width: 50%;
    padding: 8px 77px 8px 93px;
    margin: 0px 0px 0px 61px;
}


    #submit:hover{
        background-color: darkred;
    }
